body {
    background-color: #1e1e1e;
    color: white;
    font-family: Arial;
}

#container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

#left {
    text-align: center;
}

canvas {
    background-color: #333;
    border: 3px solid #aaa;
}

#forge, #classMenu {
    margin-top: 10px;
}

button {
    padding: 8px;
    margin: 5px;
    font-size: 14px;
}

#controls {
    margin-left: 20px;
    background-color: #2a2a2a;
    border: 2px solid #888;
    padding: 15px;
    width: 240px;
}

#controls h2 {
    margin-top: 0;
    text-align: center;
}

#controls ul {
    list-style: none;
    padding-left: 0;
}

#controls li {
    margin-bottom: 8px;
}

#healthBar {
    width: 600px;
    height: 15px;
    border: 2px solid white;
    margin-bottom: 5px;
}

#healthFill {
    height: 100%;
    background-color: lime;
    width: 100%;
}

#pauseMenu, #deathScreen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.9);
    color: white;
    display: none;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-size: 30px;
}

#classMenu {
    display: flex;
    flex-direction: column;
    align-items: center;
}
